<form class="form-inline my-2 my-lg-0">
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-i18n="Lang"><span class="caret"></span></button>
      <div id="i18n-switch" class="dropdown-menu">
        <a class="dropdown-item" href="#" data-locale="en" data-i18n="EN"></a>
        <a class="dropdown-item" href="#" data-locale="tr" data-i18n="TR"></a>
      </div>
    </div>
    <div id="lima-datasets">
      <input id="search-box" type="text" class="form-control typeahead" aria-label="">
    </div>
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" data-i18n="Search"></button>
    </span>
  </div>
</form>
