{# Comment: Global variables #}

  {% set protocol = "http://" %}
  {% set host = "www.example.com/" %}
  {% set dev = "localhost:3000/" %}
  {% set dist = 'dist/' %}
  {% set DIR = protocol + dev %}
  {% set STYLE = DIR + 'css' %}
  {% set SCRIPT = DIR + 'js' %}
  {% set MEDIA = DIR + 'img/' %}

{# ################ #}

<!DOCTYPE html>
<html lang="en" dir="ltr">

</head>
    {% include 'bone/head.html' %}
</head>

<body>

    {% include 'bone/topnav.html' %}

    {% block content %}{% endblock %}

    {% include 'bone/footer.html' %}

    {% block scripts %}{% endblock %}

</body>
</html>
