/*
 * Custom Styles
 * Note: Consider to not make duplicate styles with Bootstrap
 *       If necessary, define new override classes
*/
.content{
  padding-top: 6rem;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
